#the-id-past {
    font-family: "trebuchet ms", verdana, arial, sans-serif;
    font-size: 16px;
    fill: #333;
    max-width: none !important;
}

#the-id-past .error-icon {
    fill: #552222;
}

#the-id-past .error-text {
    fill: #552222;
    stroke: #552222;
}

#the-id-past .edge-thickness-normal {
    stroke-width: 2px;
}

#the-id-past .edge-thickness-thick {
    stroke-width: 3.5px;
}

#the-id-past .edge-pattern-solid {
    stroke-dasharray: 0;
}

#the-id-past .edge-pattern-dashed {
    stroke-dasharray: 3;
}

#the-id-past .edge-pattern-dotted {
    stroke-dasharray: 2;
}

#the-id-past .marker {
    fill: #333333;
    stroke: #333333;
}

#the-id-past .marker.cross {
    stroke: #333333;
}

#the-id-past svg {
    font-family: "trebuchet ms", verdana, arial, sans-serif;
    font-size: 16px;
}

#the-id-past g.classGroup text {
    fill: #9370DB;
    fill: #131300;
    stroke: none;
    font-family: "trebuchet ms", verdana, arial, sans-serif;
    font-size: 10px;
}

#the-id-past g.classGroup text .title {
    font-weight: bolder;
}

#the-id-past .nodeLabel,
#the-id-past .edgeLabel {
    color: #131300;
}

#the-id-past .edgeLabel .label rect {
    fill: #ECECFF;
}

#the-id-past .label text {
    fill: #131300;
}

#the-id-past .edgeLabel .label span {
    background: #ECECFF;
}

#the-id-past .classTitle {
    font-weight: bolder;
}

#the-id-past .node rect,
#the-id-past .node circle,
#the-id-past .node ellipse,
#the-id-past .node polygon,
#the-id-past .node path {
    fill: #ECECFF;
    stroke: #9370DB;
    stroke-width: 1px;
}

#the-id-past .divider {
    stroke: #9370DB;
    stroke: 1;
}

#the-id-past g.clickable {
    cursor: pointer;
}

#the-id-past g.classGroup rect {
    fill: #ECECFF;
    stroke: #9370DB;
}

#the-id-past g.classGroup line {
    stroke: #9370DB;
    stroke-width: 1;
}

#the-id-past .classLabel .box {
    stroke: none;
    stroke-width: 0;
    fill: #ECECFF;
    opacity: 0.5;
}

#the-id-past .classLabel .label {
    fill: #9370DB;
    font-size: 10px;
}

#the-id-past .relation {
    stroke: #333333;
    stroke-width: 1;
    fill: none;
}

#the-id-past .dashed-line {
    stroke-dasharray: 3;
}

#the-id-past #compositionStart,
#the-id-past .composition {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#the-id-past #compositionEnd,
#the-id-past .composition {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#the-id-past #dependencyStart,
#the-id-past .dependency {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#the-id-past #dependencyStart,
#the-id-past .dependency {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#the-id-past #extensionStart,
#the-id-past .extension {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#the-id-past #extensionEnd,
#the-id-past .extension {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#the-id-past #aggregationStart,
#the-id-past .aggregation {
    fill: #ECECFF !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#the-id-past #aggregationEnd,
#the-id-past .aggregation {
    fill: #ECECFF !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#the-id-past .edgeTerminals {
    font-size: 11px;
}

#the-id-past :root {
    --mermaid-font-family: "trebuchet ms", verdana, arial, sans-serif;
}