#the-id {
    font-family: "trebuchet ms", verdana, arial, sans-serif;
    font-size: 16px;
    fill: #333;
    max-width: none !important;
}

#the-id .error-icon {
    fill: #552222;
}

#the-id .error-text {
    fill: #552222;
    stroke: #552222;
}

#the-id .edge-thickness-normal {
    stroke-width: 2px;
}

#the-id .edge-thickness-thick {
    stroke-width: 3.5px;
}

#the-id .edge-pattern-solid {
    stroke-dasharray: 0;
}

#the-id .edge-pattern-dashed {
    stroke-dasharray: 3;
}

#the-id .edge-pattern-dotted {
    stroke-dasharray: 2;
}

#the-id .marker {
    fill: #333333;
    stroke: #333333;
}

#the-id .marker.cross {
    stroke: #333333;
}

#the-id svg {
    font-family: "trebuchet ms", verdana, arial, sans-serif;
    font-size: 16px;
}

#the-id g.classGroup text {
    fill: #9370DB;
    fill: #131300;
    stroke: none;
    font-family: "trebuchet ms", verdana, arial, sans-serif;
    font-size: 10px;
}

#the-id g.classGroup text .title {
    font-weight: bolder;
}

#the-id .nodeLabel,
#the-id .edgeLabel {
    color: #131300;
}

#the-id .edgeLabel .label rect {
    fill: #ECECFF;
}

#the-id .label text {
    fill: #131300;
}

#the-id .edgeLabel .label span {
    background: #ECECFF;
}

#the-id .classTitle {
    font-weight: bolder;
}

#the-id .node rect,
#the-id .node circle,
#the-id .node ellipse,
#the-id .node polygon,
#the-id .node path {
    fill: #ECECFF;
    stroke: #9370DB;
    stroke-width: 1px;
}

#the-id .divider {
    stroke: #9370DB;
    stroke: 1;
}

#the-id g.clickable {
    cursor: pointer;
}

#the-id g.classGroup rect {
    fill: #ECECFF;
    stroke: #9370DB;
}

#the-id g.classGroup line {
    stroke: #9370DB;
    stroke-width: 1;
}

#the-id .classLabel .box {
    stroke: none;
    stroke-width: 0;
    fill: #ECECFF;
    opacity: 0.5;
}

#the-id .classLabel .label {
    fill: #9370DB;
    font-size: 10px;
}

#the-id .relation {
    stroke: #333333;
    stroke-width: 1;
    fill: none;
}

#the-id .dashed-line {
    stroke-dasharray: 3;
}

#the-id #compositionStart,
#the-id .composition {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#the-id #compositionEnd,
#the-id .composition {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#the-id #dependencyStart,
#the-id .dependency {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#the-id #dependencyStart,
#the-id .dependency {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#the-id #extensionStart,
#the-id .extension {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#the-id #extensionEnd,
#the-id .extension {
    fill: #333333 !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#the-id #aggregationStart,
#the-id .aggregation {
    fill: #ECECFF !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#the-id #aggregationEnd,
#the-id .aggregation {
    fill: #ECECFF !important;
    stroke: #333333 !important;
    stroke-width: 1;
}

#the-id .edgeTerminals {
    font-size: 11px;
}

#the-id :root {
    --mermaid-font-family: "trebuchet ms", verdana, arial, sans-serif;
}